version: "2.3"
services:
  test:
    image: nvidia/cuda:11.4.1-runtime-ubuntu20.04
    container_name: gpu-test
    tty: true
    privileged: true
    network_mode: host
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
      - DISPLAY=${DISPLAY}
    command: bash
